*, *:hover, *:active, *.visited, *.focus {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}


:root {
    font-family: sans-serif;
    font-size: 10px;
    --primaryColor: red;
    --primaryColorDark: rgb(139, 4, 4);
    --primaryColorLight: rgb(252, 88, 88);
    --shadowColor: rgba(0, 0, 0, 0.6);
    --textColorNormal: rgb(4, 104, 104);
    --textColorForeground: white;
    --backgrounColor: rgba(255, 0, 0, 0.1);
    --buttonColor: teal;
    --selectColor: #00b050;
    --drawerColor: rgba(0, 0, 255, 0.05);
}

body {
    columns: var(--textColorNormal);
}